.ad-container {
    border-top: 10px solid #F6F6F6;
    border-bottom: 10px solid #F6F6F6;
    text-align: center; 
    padding: 20px 0; 
    display: flex;
    justify-content: center;
  }
  
  .ad-card {
    width: 387px;
    height: 236px;
    background: #1D1D51;
    border-radius: 5px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ad-image {
    max-width: 100%;
    height: auto; 
    border-radius: 5px 0 0 0; 
  }